#top .megamenu a > span > strong,
#top .container,
#search_query,
.box .box-heading,
.product,
.footer,
.footer h6,
.tooltip,
.breadcrumb .container h1,
.breadcrumb a,
h3,
.center-column h3,
#content #tabs a,
#content #tab-description,
.main-content {
    font-family: Kanit!important;
}
.common-home.show-vertical-megamenu #main .megamenu-background .vertical .megamenuToogle-wrapper,
.show-vertical-megamenu #main .megamenu-background .vertical .megamenuToogle-wrapper,
#main .vertical:hover .megamenuToogle-wrapper,
.box-with-categories .box-heading {
    background-color: #D51A6D!important;
}

#top .pattern > .container {
    padding: 16px;
}
#top .logo {
    padding: 0;
}

#header-left img {
    height: 104px;
}
#header-right {
    margin-top: 12px;
}

#header-right .my-account,
#header-right #cart_block,
.product .price,
.product .only-hover {
    display: none!important;
}

.product-grid .product-hover:hover .name {
    visibility: visible!important;
    opacity: 1!important;
}

#main .vertical:hover .megamenuToogle-wrapper .container,
.show-vertical-megamenu #main .megamenu-background .vertical .megamenuToogle-wrapper .container,
.megamenu-background .vertical .megamenuToogle-wrapper .container:after {
    color: #fff!important;
}
#main .vertical .megamenu-wrapper,
#main .box-with-categories .box-content {
    background-color: #ffc339!important;
}
#main .vertical ul.megamenu > li {
    border-color: #dadada!important;
}
.product-grid .product:hover:before, .product-list > div:hover {
    border-color: #F4B800!important;
}
#main .vertical ul.megamenu > li:hover,
.box-category > ul li a.active,
.box-category > ul li > a:hover,
.box-category > ul li:hover > a {
    background-color: #F4B800!important;
}
#main .vertical ul.megamenu > li > a,
#main .box-category ul li > a,
#main .box-category ul li a.active {
    color: #000!important;
}

.show-vertical-megamenu #main .megamenu-background .vertical .megamenu-wrapper {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    margin-top: 0px;
}
.box-links {
    margin: 20px 0;
}
.box-link-download {
    margin-bottom: 20px;
}

#semi-footer,
#semi-footer p,
#semi-footer h6 {
    padding: 0;
}
.footer-about-us > div.row > div.col-sm-8,
.row.footer-blocks-top > div {
    display: table;
}

.footer-block {
    display: table-cell;
    vertical-align:middle;
}


input[type="submit"],
input[type="submit"]:hover,
.footer_button {
    color: #b24043!important;
    font-size: 1.2em!important;
    background-color: #F4B800!important;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
}